<!-- <form class = "feelings" action="/sentence" method = "post">
  How are you feeling today?
  <input type = "text" name = "sentence"></input>
  <input type = "submit" value = "submit"></input>
</form> -->
<!-- <h2>Your colors</h2>
<ul>
</ul> -->
<!-- <a href ="/artwork" class = "see_artwork hidden"><button>See your artwork</button></a>
<h2 class = "hidden">Your artwork</h2> -->
<!-- <div class = "images hidden"></div>
<a class = "test" href ="/test"><button>Test</button></a> -->


  <h1>Login</h1>
  <a class = "waves-effect waves-light btn-large" href="/oauth/connect">Login with Instagram</a>
