<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
<!--
  <nav>
    <div class="nav-wrapper">
     <a href="/">artsy </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/myprofile">profile</a></li>
        <li><a href="/allusers">all whisperers</a></li>
      </ul>
    </div>
  </nav> -->

<!--   <nav>
    <ul>
      <li><form method="post" action="/myprofile"><input type = "submit" value = "My Profile"></form></li>
      <li><form method="post" action="/allusers"><input type = "submit" value = "All Users"></form></li>
    </ul>
  </nav> -->





  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
